.wizard {
  &__header {
    display: flex;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 700;
  }

  &__percent {
    font-size: 2.75rem;
    line-height: 3.25rem;
    font-weight: 700;
    color: var(--green);
  }
}
